<a href="https://colab.research.google.com/github/xuefeihanhua/mlpy/blob/master/End_to_End_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kaggle Titanic
## Logistic Regression with Python


For this lecture we will be working with the [Titanic Data Set from Kaggle](https://www.kaggle.com/c/titanic). This is a very famous dataset.

# Step - 1 : Frame The Problem

The sinking of the RMS Titanic is one of the most infamous shipwrecks in history.  On April 15, 1912, during her maiden voyage, the Titanic sank after colliding with an iceberg, killing 1502 out of 2224 passengers and crew. This sensational tragedy shocked the international community and led to better safety regulations for ships.

One of the reasons that the shipwreck led to such loss of life was that there were not enough lifeboats for the passengers and crew. Although there was some element of luck involved in surviving the sinking, some groups of people were more likely to survive than others, such as women, children, and the upper-class.

In this challenge, we ask you to complete the analysis of what sorts of people were likely to survive. In particular, we ask you to apply the tools of machine learning to predict which passengers survived the tragedy.

# Step - 2 : Obtain the Data

## Import Libraries

In [0]:
!pwd

In [0]:
!pip install -q  missingno

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as ms
%matplotlib inline

In [0]:
!ls -l

Pandas provides two important data types with in built functions to be able to provide extensive capability to handle the data.The datatypes include Series and DataFrames.

Pandas provides ways to read or get the data from various sources like read_csv,read_excel,read_html etc.The data is read and stored in the form of DataFrames.

In [0]:
!wget https://www.dropbox.com/s/8grgwn4b6y25frw/titanic.csv

In [0]:
!ls -l

In [0]:
data = pd.read_csv('titanic.csv')

In [0]:
data.head()

In [0]:
#to get the last 5 entries of the data
data.tail()

In [0]:
type(data)

In [0]:
data.shape

In [0]:
data.info()

In [0]:
df = pd.read_csv('titanic.csv')
df.isnull().sum()

In [0]:
data.info()

In [0]:
data.describe()

## Accessing individual data in the data frame

### Working with Columns

since each dataframe is a collection of series if we access a single column we get a series object

In [0]:
data['Embarked'].value_counts()

In [0]:
y = data[['Cabin','Parch']].head()

In [0]:
type(y)

In [0]:
y.head()

In [0]:
data.info()

# Step - 3 : Analyse the Data

In [0]:
ms.matrix(data)

In [0]:
data.info()

We can observe that there are missing values in 'Age', 'Cabin' and 'Embarked'. Let's continue.

In [0]:
data.info()

Visualization of data with Seaborn

In [0]:
sns.jointplot(x='Fare',y='Age',data=data)

In [0]:
sns.distplot(data['Fare'])
#KDE?

In [0]:
data.corr()

In [0]:
sns.heatmap(data.corr(),cmap='coolwarm')
plt.title('data.corr()')

In [0]:
sns.swarmplot
sns.swarmplot(x='Pclass',y='Age',data=data,palette='Set1')

In [0]:
sns.set_style('whitegrid')
sns.countplot(x='Survived',data=data,palette='RdBu_r')

In [0]:
sns.set_style('whitegrid')
sns.countplot(x='Survived',hue='Sex',data=data,palette='RdBu_r')

In [0]:
sns.set_style('whitegrid')
sns.countplot(x='Survived',hue='Pclass',data = data,palette='rainbow')

In [0]:
df['Age'].hist(bins = 40, color = 'darkred', alpha = 0.8)

In [0]:
sns.countplot(x = 'SibSp', data = data)

In [0]:
data['Fare'].hist(color = 'green', bins = 40, figsize = (8,3))

#### What do you observe from the above charts?

# Step - 4 : Feature Engineering

## Feature Engineering

We want to fill the missing values of the age in the dataset with the average age value for each of the classes. This is called data imputation.

In [0]:
data.info()

In [0]:
plt.figure(figsize=(12, 7))
sns.boxplot(x='Pclass',y='Age',data=data,palette='winter')

In [0]:
data['Cabin'].value_counts()

Applying the function.

In [0]:
df['Age'].fillna(28, inplace=True)

In [0]:
ms.matrix(df)

The Age column is imputed sucessfully.

Let's drop the Cabin column and the row in the Embarked that is NaN.

In [0]:
df.info()

In [0]:
df.drop('Cabin',axis=1, inplace=True)

In [0]:
df.drop('Cabin', axis = 1,inplace=True)

In [0]:
df.head()

In [0]:
df['Embarked'].value_counts()

In [0]:
df.dropna(inplace = True)

In [0]:
ms.matrix(df)

In [0]:
df.info()

## Converting Categorical Features 

We'll need to convert categorical features to dummy variables using pandas! Otherwise our machine learning algorithm won't be able to directly take in those features as inputs.

In [0]:
data['Sex'].value_counts()

In [0]:
sex = pd.get_dummies(df['Sex'],drop_first=True)
sex.head()

In [0]:
df['Embarked'].value_counts()

In [0]:
embark = pd.get_dummies(df['Embarked'],drop_first=True)
embark.head(10)

In [0]:
sex.head()

In [0]:
old_data = df.copy()
df.drop(['Sex','Embarked','Name','Ticket'],axis=1,inplace=True)
df.head()

In [0]:
data = pd.concat([df,sex,embark],axis=1)

In [0]:
data.head()

In [0]:
data.info()

In [0]:
data.describe()

# Step - 5 : Model Selection

## Building a Logistic Regression model

In [0]:
X = data.drop('Survived',axis=1)
y = data['Survived']

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,y 
                                                    , test_size=0.20, 
                                                    random_state=42)

In [0]:
len(y_test)

In [0]:
178/889

In [0]:
X.describe()

In [0]:
X_train.describe()

In [0]:
y_train.describe()

In [0]:
from sklearn.linear_model import LogisticRegression

# Build the Model.
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train) # this is where training happens

In [0]:
logmodel.coef_

In [0]:
logmodel.intercept_

In [0]:
logmodel.verbose

In [0]:
predict =  logmodel.predict(X_test)
predict[:5]

In [0]:
y_test[:5]

Let's move on to evaluate our model.

# Step - 6 : Evaluation

## Evaluation

We can check precision, recall, f1 - score using classification report!

#### Confusion Matrix

In [0]:
from sklearn.metrics import confusion_matrix, classification_report

## Confusion Matrix

True positive   |	False positive,  
________________|________________  
                |                  
False negative  |	True negative

In [0]:
print(confusion_matrix(y_test, predict))

#### Precision Score

The precision is the ratio tp / (tp + fp) where tp is the number of true positives and fp the number of false positives. The precision is intuitively the ability of the classifier not to label as positive a sample that is negative.

The best value is 1 and the worst value is 0.

In [0]:
from sklearn.metrics import precision_score

In [0]:
print(precision_score(y_test,predict))

#### Recall score

The recall is the ratio tp / (tp + fn) where tp is the number of true positives and fn the number of false negatives. The recall is intuitively the ability of the classifier to find all the positive samples.

The best value is 1 and the worst value is 0.

In [0]:
from sklearn.metrics import recall_score

In [0]:
print(recall_score(y_test,predict))

#### f1_score

The F1 score can be interpreted as a weighted average of the precision and recall, where an F1 score reaches its best value at 1 and worst score at 0. The relative contribution of precision and recall to the F1 score are equal. The formula for the F1 score is:
                F1 = 2 \* (precision \* recall) / (precision + recall)

In [0]:
from sklearn.metrics import f1_score

In [0]:
print(f1_score(y_test,predict))

To get all the above metrics at one go, use the following function:

In [0]:
from sklearn.metrics import classification_report

In [0]:
print(classification_report(y_test,predict))

# Step - 7 : Predict on New Cases

## Prediction on Test Data From Kaggle

create an account on www.kaggle.com

In [0]:
!wget https://www.dropbox.com/s/6hyaidkuyfsv45u/production.csv
prod_data=pd.read_csv('production.csv')

In [0]:
prod_data.info()

In [0]:
prod_data.head()

In [0]:
ms.matrix(prod_data)

### Data Cleaning

There are inconsistencies in test data.We can use the same graph functions that are used to visualize the train data for test data as well.We use the same data cleaning techniques like removing the cabin column and applying impute_age function on age column on test data.  
But we cannot remove any rows because kaggle wants same number of rows in submission csv also. So we fill the missing values in fare with mean.

In [0]:
prod_data['Age'] = prod_data[['Age','Pclass']].apply(impute_age,axis=1)

In [0]:
ms.matrix(prod_data)

In [0]:
prod_data.drop('Cabin', axis = 1, inplace= True)

In [0]:
ms.matrix(prod_data)

In [0]:
prod_data.fillna(prod_data['Fare'].mean(),inplace=True)

In [0]:
prod_data.info()

In [0]:
ms.matrix(prod_data)

In [0]:
sex = pd.get_dummies(prod_data['Sex'], drop_first=True)
embark = pd.get_dummies(prod_data['Embarked'], drop_first=True)

prod_data.drop(['Sex','Embarked','Name','Ticket'],axis=1,inplace=True)

prod_data = pd.concat([prod_data,sex,embark],axis=1)

In [0]:
prod_data.head()

In [0]:
predict1=logmodel.predict(prod_data)

In [0]:
predict1

In [0]:
df1=pd.DataFrame(predict1,columns=['Survived'])

In [0]:
df2=pd.DataFrame(prod_data['PassengerId'],columns=['PassengerId'])

In [0]:
df2.head()

In [0]:
result = pd.concat([df2,df1],axis=1)
result.head()

In [0]:
result.to_csv('result.csv',index=False)

In [0]:
from google.colab import files
files.download('result.csv')

In [0]:
!ls -l

Submit the file to https://www.kaggle.com/c/titanic

---
                                                     THE END